{{ partial "header.html" . }}

<div class="container">

    <article class="post-container">
        {{ partial "page-content.html" . }}

        {{ partial "post-footer.html" . }}
    </article>
</div>

<h2 >We are funded by</h2>

<div class="logos">
  <div class="Logos UIBlogo">
    <img src="/images/UIBlogo.png" height="100"> 
  </div>
  <div class="Logos NFRlogo">
    <img src="/images/NFR.png" height="100">
  </div>
  <div class="Logos BFSlogo">
    <img src="/images/BFS_negative.png" height="100">
    </div>
  <div class="Logos KGJlogo">
    <img src="/images/KGJ.jpg" height="100">
  </div>
</div>

{{ partial "footer.html" . }}
